<p>If you’d like to contact me, email is best:</p>
<p><strong>hello@tlvince.com</strong></p>
<p>You my also find me on:</p>
<ul>
<li><a href="http://twitter.com/tlvince" title="tlvince's profile on Twitter">Twitter</a></li>
<li><a href="http://github.com/tlvince" title="tlvince's profile on GitHub">GitHub</a></li>
<li><a href="http://stackexchange.com/users/39813f7e-c72a-4c84-9aa2-2735136ef689?tab=accounts" title="tlvince's profiles on Stack Exchange">Stack Exchange</a></li>
<li><a href="http://uk.linkedin.com/in/tlvince" title="tlvince's profile on LinkedIn">LinkedIn</a></li>
</ul>
