<h1 id="contact">Contact</h1>
<p>If you’d like to contact me, <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Pretty_Good_Privacy">PGP</a> encrypted email is best. Here is my public key:</p>
<p><strong><a href="http://tlvince.appspot.com/tlvince.asc">tlvince.asc</a></strong></p>
<p>If you insist on using an insecure method, please use: <script type="text/javascript">
<!--
h='&#116;&#108;&#118;&#x69;&#110;&#x63;&#x65;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#104;&#x65;&#108;&#108;&#x6f;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+'<code>'+e+'</code>'+'<\/'+'a'+'>');
// -->
</script><noscript>&#104;&#x65;&#108;&#108;&#x6f;&#32;&#x61;&#116;&#32;&#116;&#108;&#118;&#x69;&#110;&#x63;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p>
<p>You my also find me on:</p>
<ul>
<li><a href="http://twitter.com/#!/tlvince" title="tlvince's profile on Twitter">Twitter</a></li>
<li><a href="https://github.com/tlvince" title="tlvince's profile on GitHub">GitHub</a></li>
<li><a href="http://stackexchange.com/users/39813f7e-c72a-4c84-9aa2-2735136ef689?tab=accounts" title="tlvince's profiles on Stack Exchange">Stack Exchange</a></li>
<li><a href="http://uk.linkedin.com/in/tlvince" title="tlvince's profile on LinkedIn">LinkedIn</a></li>
</ul>
