<h1 id="contact">Contact</h1>
<p>If you’d like to contact me, PGP encrypted email is best. Here is my public key: <strong><a href="https://tlvince.appspot.com/tlvince.asc" title="tlvince&#39;s PGP public key">tlvince.asc</a></strong> (0xE6AEACDE).</p>
<p>If that sounds like gobbledygook, please use: <script type="text/javascript">
<!--
h='&#116;&#108;&#118;&#x69;&#110;&#x63;&#x65;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#104;&#x65;&#108;&#108;&#x6f;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+'<code>'+e+'</code>'+'<\/'+'a'+'>');
// -->
</script><noscript>&#104;&#x65;&#108;&#108;&#x6f;&#32;&#x61;&#116;&#32;&#116;&#108;&#118;&#x69;&#110;&#x63;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p>
<p>You my also find me on:</p>
<ul>
<li><a href="https://twitter.com/#!/tlvince" title="tlvince&#39;s profile on Twitter">Twitter</a></li>
<li><a href="https://secure.flickr.com/photos/tlvince" title="tlvince&#39;s profile on Flickr">Flickr</a> (best viewed on <a href="http://www.fluidr.com/photos/tlvince" title="tlvince&#39;s profile on Fluidr">Fluidr</a>)</li>
<li><a href="https://github.com/tlvince" title="tlvince&#39;s profile on GitHub">GitHub</a></li>
<li><a href="https://stackexchange.com/users/179405?tab=accounts" title="tlvince&#39;s profiles on Stack Exchange">Stack Exchange</a></li>
<li><a href="https://www.linkedin.com/in/tlvince" title="tlvince&#39;s profile on LinkedIn">LinkedIn</a></li>
<li><a href="https://flattr.com/profile/tlvince" title="tlvince&#39;s profile on Flattr">Flattr</a></li>
</ul>
