<section id="articles">
  <% for article in articles[0...3] %>
    <article class="entry">
      <section class="title">
        <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
        <span class="meta"><%= article.date %></span>
      </section>
      <section class="content">
        <%= article.summary %>
      </section>
        <span class="meta"><a href="<%= article.path %>">Continue reading &rarr;</a></span>
      <hr />
    </article>
  <% end %>
</section>
