<h1><%= tag.title() %></h1>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
        <ul id="abstract">
          <li><%= entry.abstract %></li>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>

