/**
 * tlvince.com main styles
 * Copyright 2011 Tom Vincent <http://www.tlvince.com/contact/>
 *
 * Based on Vladimir Carrer's awesome Better Web Readability Project:
 * https://code.google.com/p/better-web-readability-project/
 */

body {
    margin: 1em auto;
    width: 35em;
    background: #FDF6E3;
    color: #657B83;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}
h1 { font-size: 2em; margin-bottom: 0.3em; }
h2 { font-size: 1.6em;  margin-bottom: 0.855em; }
h3 { font-size: 1.4em;  margin-bottom: 0.956em; }
h4 { font-size: 1.3em;  margin-bottom: 1.161em; }
h5, h6 { font-size: 1.2em;  margin-bottom: 1.238em; }

p {
    font-family: sans-serif;
    padding: 0 0 0.8125em 0;
    line-height: 1.625em;
}

code, pre {
    font-family: monospace;
}

pre {
    border: #2f6fab 1px dashed;
    margin: 0 0 1em;
    padding: 1em;
    line-height: 1.1em;
    overflow-x: auto;
}

li { margin: 0 0 1em }

a { 
    color: #B58900; 
    text-decoration: none;
}

a:hover { text-decoration: underline; }

sup { font-size: 0.8em; }
em { font-style: italic; }
strong { font-style: bold; }

blockquote { 
    padding: 1em 1em 1.625em 1em;
    font-style: italic;
}
blockquote:before {
    content: "\201C";
    font-size: 3em;
    margin-left: -0.625em;
    line-height: 0;
}

blockquote > p { margin-top: -0.625em; }

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

.meta { font-size: 0.8em; }
header { padding: 0 0 0.8125em 0; }
