<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>
        <% if @path == "index" %>
            <%= title %>
        <% else %>
            <%= title %> - <%= @config[:title] %>
        <% end %>
    </title>
  </head>
  <body>
    <section id="header">
      <span id="breadcrumb">
        <a href="/">tlvince</a>
      </span>
      <span id="nav">
        <a href="/about/">About</a>
        <a href="/archives/">Archives</a>
    </section>
    <%= yield %> 
    <section id="footer">
      Copyright 2007-<%= Time.now.year %> <a href="/about/">Tom Vincent</a>.
    </section>
  </body>
</html>

